.track {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombreado ligero
    border-radius: 10px;
    background-color: #fff; // Fondo blanco para un look más limpio
    text-decoration: none;
    overflow: hidden; // Para asegurar que los bordes redondeados se apliquen a la imagen también
    transition: transform 0.3s, box-shadow 0.3s; // Transiciones suaves
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    max-width: 150px;

    &:hover {
        transform: translateY(-5px); // Efecto de elevación al pasar el ratón
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Sombreado más fuerte al pasar el ratón
    }

    img {
        width: 100%; // Asegura que la imagen ocupe todo el ancho del contenedor
        height: 150px; // Establece una altura fija para las imágenes
        object-fit: cover; // Asegura que la imagen se recorte para llenar el contenedor sin deformarse
        border-top-left-radius: 10px; // Bordes redondeados en la parte superior
        border-top-right-radius: 10px; // Bordes redondeados en la parte superior
    }

    .track-info {
        padding: 1rem; // Espaciado interno
        text-align: center; // Centrar el texto
    }

    .track-name {
        font-size: 1rem; // Tamaño de fuente más grande
        font-weight: bold; // Texto en negrita
        color: #333; // Color del texto
        margin-bottom: 0.5rem; // Espaciado inferior
        hyphens: auto; // Dividir las palabras largas en varias líneas
        word-break: break-word; // Dividir las palabras largas en varias líneas
    }

    .track-artist {
        font-size: 1rem; // Tamaño de fuente
        color: #666; // Color del texto
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .index{
        font-size: 0.75rem;
        color: white;
        background-color: purple;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.5rem;
        border-radius: 100%;
        min-width: 30px;
        min-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .track {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 5fr;
        position: relative;
        img {
            height: 100px;
            width: 100px;
        }

        .track-name{
            font-size: 0.75rem;
        }

        .track-artist{
            font-size: 0.65rem;
        }

        .index{
            font-size: 0.75rem;
            min-width: 30px;
            min-height: 30px;
            align-items: center;
            justify-content: center;
            display: flex;
        }
    }
    
}