.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #f0f0f0; // Fondo gris claro para toda la página
    height: 100vh;

    h1 {
        font-size: 2rem;
        color: #333; // Color del texto
    }

    .spinner-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
}

@media screen and (max-width: 768px) {
    .profile-page{
        .profile-card{
            max-width: 90vw;
            .title-profile{
                display: unset;
            }
        }
    }
    
}