body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* PrimeReact Theme */
@import 'primereact/resources/themes/saga-blue/theme.css';

/* Core CSS */
@import 'primereact/resources/primereact.min.css';

/* Icons */
@import 'primeicons/primeicons.css';

/* PrimeFlex */
@import 'primeflex/primeflex.css';